/*
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 

  h3 {
    @apply text-heading3 font-normal;
  }
  p {
    @apply text-body;
  }
}
*/
/* 基本設定 */
html, body {
  height: 100%;
  margin: 0;
}

body {
  color: var(--black);
  font-family: "Noto Serif JP", serif;
  font-size: var(--body);
  font-weight: 400;
  font-feature-settings: "palt";
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  flex: 1; /* メインコンテンツがない場合も空間を埋める */
}

h2 {
  font-feature-settings: "palt";
}

h3 {
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

span > img {
  transition: 0.2s;
}


