.title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 24px;
}

.text {
  text-align: center;
  font-size: var(--body);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 160px 80px;
}

@media (max-width: 768px) {

  .title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 90px 40px;
  }

}