.wrapper {
  padding: clamp(3.125rem, 1.296rem + 7.8vw, 8.125rem) clamp(1.25rem, 0.793rem + 1.95vw, 2.5rem) 30px;
}

.titleWrap {
  margin-bottom: 30px;
}

.titleWrap > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 65%;
  height: auto;
  align-items: center;
  border: 1px dashed;
  border-radius: 5px;
  padding: 20px;
  font-size: var(--body);
}
.price {
  grid-column: 2/4;
  padding-left: 8px;
}

.count {
  grid-column: 1/2;
  display: inline-block;
  justify-self: center;
}

.button {
  grid-column: 4/6;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--white);
  text-align: center;
  background: linear-gradient(270deg,#161E18 0%, #243227 78%, #2C5F37 90%, #1D8C35 100%);
  background-position: 99%, 50%;
  background-size: 200% auto;
  transition:  all 0.3s ease-out; 
}

.button button {
  color: var(--white);
}

.button:hover {
  color: var(--white);
  background-position: 1% 50%;
}

@media (max-width: 768px) {

  .wrapper {
      padding-left: 0;
      padding-right: 0;
  }

  .titleWrap > div {
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 20px;
      text-align: center;
      row-gap: 16px;
  }

  .productContainer p {
      text-align: center;
  }

  .count {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .price {
    grid-column: 2/4;
    grid-row: 1/2;
  }

  .button {
    grid-column: 1/4;
    grid-row: 2/3;
  }

}