
.header {
  padding: 25px clamp(1.25rem, 0.793rem + 1.95vw, 2.5rem);
  border-radius: 5px;
}

.flexContainerHeader {
  justify-content: end;
  gap: clamp(1.25rem, -7.864rem + 18.99vw, 8.75rem);
}

.globalsContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.globals {
  display: grid;
  place-items: center;
}

.img {
  position: relative;
  grid-area: 1/1;
  z-index: 230;
  width: 25px;
  height: 25px;
}

.bagimg {
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 12px 25px;
  }

  .flexContainerHeader {
      justify-content: space-between;
      gap: inherit;
      z-index: 100;
  }

  .globalsContainer {
    gap: 1rem;
  }

  .globals {
      z-index: 200;
      width: 48px;
      height: 48px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.8);
  }

}